article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* あまり意味ないっぽい設定 */
@page {
 margin: 0;
 size: 210mm 297mm;
}

/* ブラウザが勝手につけるマージンの削除。* とする例もあるが、body だけで済むならそれでよし */
body {
 margin: 0;
}

/* 外観 */
@media screen {
 body {
  background: #eee;
 }
}

/* ヘッダ部 */
@media screen {
 header {
 /* border: 1px red dotted; */
  font-family:sans-serif;
  margin: 5px;
  padding:10px 15px;
  color:white;
  background-color:black;
  border-radius:8px;
 }
 #spnInput {
  margin-left:5em;
  font-size:80%;
 }
 #tbx_NumberOfDigit {
  width:40px;
  text-align:center;
 }
}
@media print {
 header {display:none;}
}

/* 主部 */
/*
main {
 border: 1px red dashed; 
}
*/
@media screen {
 section.Sheet { /* 用紙 */
  background-color:white;
  height:297mm; /* A4 タテ */
  width:210mm; /* A4 タテ */
  margin:5mm;
  box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); /* ドロップシャドウ */
 }
}
@media print {
 section.Sheet { /* 用紙 */
  background-color:white;
  height:297mm; /* A4 タテ */
  width:210mm; /* A4 タテ */
  border:1px gray dashed;
  page-break-after: always;
 }
}
ol li {
	list-style-type: none;
	counter-increment: cnt;
    padding-left:5mm;
}
ol li::before {
	content: "(" counter(cnt) ")";
}
span.spnQItem {
    font-size: larger;
    padding-left:5mm;
}
li.Left {
    padding-bottom:110mm;
    float: left;
    width: 100mm;
}
li.Right {
    padding-bottom:110mm;
}
section#secBottom {
    clear:both;
    font-size:small;
    padding:2mm 10mm;
}

h1 {
    padding:15mm;
}

/* フッタ部 */
@media screen {
 footer {
 /* border: 1px navy dashed; */
  background-color: black;
 }
}
@media print {
 footer{
  display: none;
 }
}
